.techs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    padding: 100px 70px 100px 70px;
}

.techs__title {
    width: 100%;
    margin: 0;
    padding: 0 0 23px 0;
    text-align: left;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: solid 1px #000;
}

.techs__subtitle {
    display: block;
    width: 100%;
    margin: 0;
    padding: 90px 0 0 0;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.techs__text {
    display: block;
    max-width: 460px;
    box-sizing: border-box;
    margin: 0;
    padding: 26px 0 100px 0;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.techs__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.techs__link {
    display: block;
    text-decoration: none;
    width: 90px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;

    margin: 0;
    padding: 20px 0 20px 0;

    border-radius: 10px;
    background-color: #E8E8E8;
    transition: opacity 0.4s;
}

.techs__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1100px) {

    .techs {
        padding: 90px 50px 90px 50px;
    }

    .techs__subtitle {
        padding-top: 80px;
    }

    .techs__text {
        padding-top: 22px;
        padding-bottom: 83px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
    }

    .techs__link {
        width: 84px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }


}

@media screen and (max-width: 760px) {

    .techs {
        padding: 70px 18px 70px 18px;
        background-color: #FFF;
    }

    .techs__title {
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__subtitle {

        padding-top: 60px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .techs__text {
        padding-top: 24px;
        padding-bottom: 50px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }

    .techs__container {
        padding-left: 50px;
        padding-right: 50px;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 13px;
    }

}